.featured-image {

    background-image: url('https://img.freepik.com/premium-photo/hands-playing-acoustic-ukulele-guitar-music-skills-show_38066-297.jpg?w=900');
    background-repeat: no-repeat;
    background-size: cover;


}